* {
  padding: 0px;
  margin: 0px;
  font-family: poppins, sans-serif;
}

/* Header */

header {
  text-align: center;
  background-color: gold;
  padding: 20px;
  font-size: 30px;
}

/* SearchBar */

#student_searchBox {
  width: 90%;
}

/* Student Table */

table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  text-align: center;
}
th {
  background-color: #f2f2f2;
}

/* Button Animations */
button:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
  box-shadow: 1px 1px rgb(194, 140, 4);
}

.student-photo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 8px; /* Adjust spacing between photo and name */
  border: 1px solid grey;
}

td {
  text-align: left;
}

/* Others */

.hidden {
  visibility: hidden;
  display: none;
}
.table_header {
  text-align: center;
}
